[Unit]
Description=CPM NDOS Server

[Service]
Type=simple
WorkingDirectory=/share/cpm-ndos
ExecStart=/share/cpm-ndos/ndos-srv
Restart=on-abort

[Install]
WantedBy=multi-user.target
